@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding: 0;
  box-sizing:border-box ;

  -webkit-text-size-adjust: none; /* Older versions of Safari */
  text-size-adjust: 100%; /* Standard property */
  -webkit-transform: scale(1); /* Older versions of Chrome and Edge */
  transform: scale(1); /* Standard property */

}

/* Set the scrollbar width and make it rounded */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 9999px;
}

/* Set the scrollbar width and make it rounded for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6;
}
*:hover {
  scrollbar-color: #a5acb0 #e5e7eb;
}
*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
*::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 9999px;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 5px 10px -1px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input-shadow{
  box-shadow: rgba(107, 102, 102, 0.12) 0px 2px 4px 0px, rgba(139, 139, 139, 0.32) 0px 2px 16px 0px inset;
}

.div-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.side-shadow{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.card-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}